body{
  background: #293136;
}

.navbar{
  background: #f3f3f3;
  border-bottom: 1px solid #ddd;
  padding: 0;
}


.navbar-brand{
  color: #000;
  font-size: 16px;
  margin-left: 15px;
}

.nav-icon{
  display: inline;
  margin-left: 48%;
}

.nav-item-title{
  text-transform: uppercase;
  font-size: 10px;
}

.nav-link{
  text-decoration: none;
  padding: 0;
  color: #000;
  border-top: 1px solid #ddd;
}

.logo-title{
  font-size: 20px;
}

.wrapper{
  padding-left: 10px;
  padding-right: 10px;
}

.footer{
  background: #f3f3f3;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0;
  border-top: 1px solid #ddd;
  line-height: 40px;
}

.footer-brand{
  text-align: center;
  font-size: 14px;
  margin-bottom: 0;
}

label{
  font-size: 10px;
}


@media (min-width: 576px) {
  label{
    font-size: 14px;
  }

  .nav-link{
    text-decoration: none;
    padding: 0;
    color: #000;
    margin-left: 0;
    border-top: 0;
  }

  .navbar-col{
    text-align: center;
    min-height: 40px;
    border-left: 1px solid #ddd;
    padding: 12px;
  }

  .nav-icon{
    display: block;
    font-size: 22px;
    margin-left: 0;
  }
}


/* Content */

.form-control{
  border-radius: 0;
  border: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-right: 2px solid #ddd;
  background: #f3f3f3;
  color: #000;
  font-size: 14px;
} 

.file-input{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.list-group-item{
  border-radius: 0 !important;
  background: #f3f3f3;
}

/* Esconde o input */
input[type='file'] {
  z-index: -1;
}

/* Aparência que terá o seletor de arquivo */
.label-input-file {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  padding: 6px 20px;
  font-size: 14px;
}

.icon-large{
  font-size: 26px;
}

.text-disabled{
  opacity: 0.3;
}

.btn-form, .btn-form:hover{
  background: #f3f3f3;
  border-radius: 2px;
  border: 1px solid #ddd;
  border-bottom: 2px solid #c9c9c9;
  font-size: 10px;
  color: #293136;
  text-transform: uppercase;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.content-panel{
  background: #eee;
  margin-top: 10px;
  padding: 35px;
}

.content-panel-title{
  font-size: 32px !important;
}

.wrapper{
  position: relative;
  padding: 0;
  min-height: 100%;
}

.content-block{
  background: #e9e9e9;
  border: 1px solid #ddd;
  min-height: 120px;
  position: relative;
  z-index: 0;
}

.content-block-item-title{
  font-size: 12px;
  font-weight: bold;
}

.content-block-item-counter{
  font-size: 32px;
}

.content-block-icon{
  position: absolute !important;
  top: 30%;
  font-size: 50px;
  right: 10px;
  z-index: -1;
}

.btn-search{
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-right: 2px solid #ddd;
  padding: 6px 10px;
}

.table-label{
  font-size: 12px;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
}

.table-text{
  font-size: 12px;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
}