body{
  background: #fff;
  font-family: 'Lato', sans-serif;
}

.wrapper-header{
  background: #293136;
  padding: 3px;
}

.wrapper-icon{
  color: #1197C7;
  font-size: 16px;
  padding: 3px 5px;
  border-radius: 2px;
}

.wrapper-title{
  color: #fff;
  font-size: 12px;
}

.wrapper-content{
  padding-bottom: 15px;
}

.navbar-content{
  background: #f3f3f3;
}

.navbar-column{
  background: #f3f3f3;
  position: relative;
  display: block;
  padding: 0;
}

.nav-icon{
  font-size: 16px !important;
  color: #3498db !important;
  margin-right: 2px;
}

.navbar-item{
  display:block;
  position: relative;
}


.btn-nav, .btn-nav:hover{
  font-size: 10px;
  color: #293136;
  text-transform: uppercase;
}


.content-panel{
  margin-top: 10px;
  padding: 35px;
}

.content-panel-title{
  font-size: 32px !important;
}

.wrapper-footer{
  bottom: 0;
  background: #f3f3f3;
  height: 40px;
  width: 100%;
}

.footer-title{
  font-family: 'Lato';
  font-size: 14px;
}

.form-section-title{
  //to-do
}

.nav-delete, .nav-delete:hover{
  color: #e74c3c;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* non-mobile content (sm and upper) */
@media (min-width: 576px) {
  .block-title{
    font-size: 14px;
    margin-top: 3px;
    text-transform: justify;
  }

  .navbar-item {
    margin-right: 10px;
    display: inline;
  }

  .navbar-column{
    text-align: center;
    padding: 5px;
    min-height: 80px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px 0 0 15px;
  }
  
  .navbar-column:last-child{
    border-right: 0;
  }

  .btn-nav, .btn-nav:hover{
    background: #f3f3f3;
    border-radius: 2px;
    border: 1px solid #ddd;
    border-bottom: 2px solid #c9c9c9;
    font-size: 10px;
    color: #293136;
    text-transform: uppercase;
  }
}


/* Form Control */

.form-control{
  border-radius: 0;
  border: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-right: 2px solid #ddd;
  background: #f3f3f3;
  color: #000;
  font-size: 14px;
} 

.file-input{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.list-group-item{
  border-radius: 0 !important;
  background: #f3f3f3;
}

/* Esconde o input */
input[type='file'] {
  z-index: -1;
}

/* Aparência que terá o seletor de arquivo */
.label-input-file {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  padding: 6px 20px;
  font-size: 14px;
}

.icon-large{
  font-size: 26px;
}